article.content
  section.main
    :markdown
      ## About Jonathan

      ![](/assets/img/jonathan-simcoe.jpg)

      I am first a Christian and then a husband and father who strives to glorify God in all aspects of my life. I am the principal design and web lead of AtheyCreek.com and the wheels behind Determine a ministry with my wife encouraging people to see Jesus Christ at the center of all of life. I also actively working on Church Deploy, an open source CMS for churches.

      I previously worked at WebMD Health Services where I helped push new standards like responsive design and adoption of HTML5 and CSS3 to produce better web experiences for clients. Prior to WebMD, I worked at the Waggener Edstrom Studio D™ digital strategies practice, churning out creative web, digital and print work for clients such as Microsoft, Bing, Verizon, HTC, Sasquatch! Music Festival, Washington Roundtable, and the Jebsen Group.

      Before Waggener Edstrom, I worked for four years in the financial industry, where I was responsible for driving the marketing and creative output of an investment consultancy. This role involved crafting the web experiences, content, branding, and graphic design for the agency, as well as distilling complicated investment concepts into forms that were easily digested by clients and investors.

      I have worked on and off for the past seven years doing freelance Web, graphic and print design work, consulting on the creative process with startups and developing a passion to think beyond visual design in dreaming up rich and usable experiences for consumers.

      I have a passion for learning and am excited about the direction of the web, as well as how technologies such as HTML5 and mobile-first design are facilitating great content and taking on a variety of forms to reach new audiences. This site and my other projects embrace new technologies like HTML5, responsive design, icon fonts as well as open standard such as PHP, XML, and XSLT.

      * * *

      ###### About the Site

      This site was hand-coded in <a href="http://sublimetext.com" target="_blank">Sublime Text</a>, styled with <a href="http://sass-lang.com/" target="_blank">SASS</a>, <a href="http://bourbon.io" target="_blank">Bourbon</a> &amp; <a href="http://neat.bourbon.io/" target="_blank">Neat</a>, compiled with <a href="http://gruntjs.com" target="_blank">Grunt</a>, built on <a href="http://getsymphony.com/" target="_blank">Symphony CMS</a>, hosted on <a href="http://digitalocean.com/" target="_blank">Digital Ocean</a>, and delivered to the web via <a href="http://git-scm.com/" target="_blank">Git</a>, <a href="https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man1/ssh.1.html" target="_blank">SSH</a>, and <a href="http://bitbucket.org" target="_blank">Bitbucket</a>. Most photography was edited in Adobe Lightroom using the wonderful film packs from <a href="http://vsco.co/" target="_blank">Visual Supply Co. (VSCO)</a>.</p>