h2.subhead The Writing Archive

for article, slug in public.articles._data
  article.content
    section.main
      a(href="/articles/#{ slug }")
        aside= article.date
        .right
          h2= article.title