h2.subhead The Writing Archive

for article, slug in public.articles._data
  article.content
    section.main
      .archive
        a(href="/articles/#{ slug }")
          .date= article.date
          h2= article.title