h2.subhead The Writing Archive

article.content.content-archive
  section.main

    for article, slug in public.article._data
      .archive
        a(href="/article/#{ slug }")
          .date= article.date
          h2= article.title