li = 0
each article, slug in public.articles._data
  if (li < articles_home)
    - li = li + 1
    article.content
      section.main
        .article
          span.date= article.date
          != partial("/articles/" + slug, article)

//- .links
//-   li2 = 0
//-   each logs, slug in public.logs._data
//-     if (li2 < log_home)
//-       - li2 = li2 + 1
//-       .log
//-         a(href="#{ logs.url }")
//-           span= logs.date
//-           h3= logs.title
//-           p= logs.description