h2.subhead Some Things To Delight

.links
  li = 0
    each logs, slug in public.logs._data
      if (li < log_main)
        - li = li + 1
          .log
            a(href="#{ logs.url }")
              span= logs.date
              h3= logs.title
              p= logs.description
