footer
  .container
    .row
      .col-sm-6
        p: small &copy; 2013 #{ site_title }
      .col-sm-6
        p.pull-right
          a(href="/rss.xml", title="RSS (Articles)") RSS (Articles)
          a(href="/log-rss.xml", title="RSS (Log)") RSS (Log)