// Variables
// ================================================

// colors
$color1: #2c2c2a;
$color2: #c3a86f;

$color-white: #ffffff;
$color-black: #000000;

$visual-grid: false;

// type
$font-path: '/assets/fonts/';
$font-heading: 'futura-pt', 'Proxima Nova', Helvetica, Arial, sans-serif;
$font-body: 'abril-text', Georgia, Times, serif;