h2
  a(href='/articles/fourteen') Fourteen
img.breakout(src='http://cl.ly/image/2p0n0n1r3104/fourteen-sm.jpg')
span.caption A desktop wallpaper made from a picture in NW Portland

:markdown

  > For all who are led by the Spirit of God are sons of God. **Romans 8:14**

  I love it when a moment captures you and leads you along.

  My walk in NW Portland several years back created a convergence of spiritual crisis and artistic beauty—both wrapped up in the same moment.

  I came across this beautiful Helvetica metal type on a warehouse in the outer-reaches of NW Portland. I also happened to be reading through Romans 8 on an afternoon walk. This verse struck like thunder and the lighting of the metal numbers made for a fantastic iPhone picture.

  I brought them together in this wallpaper to capture the moment. I just dusted it off and refreshed it to fit within the new site branding.

  Here is the download:

  [Fourteen Wallpaper](http://cl.ly/image/263W3U052k0h/fourteen.jpg)